{% extends "base.html" %}
{% block content %}
<button type="button" class="btn btn-secondary"
        style="position: fixed; top: 20px; left: 20px; z-index: 9999;"
        onclick="window.history.back();">
    <i class="fas fa-arrow-left me-2"></i> Geri
</button>
  <h2>Şifremi Değiştir</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Şifreyi Değiştir</button>
    <a href="{% url 'analyzer:dashboard' %}" class="btn btn-secondary">Vazgeç</a>
  </form>
{% endblock %}